#title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.recipes {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ingredients {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.food-image {
    height: auto;
    width: 500px;
}